@model TicTacModel
@using WebLabSecondPart.Models;
@{
    ViewBag.Title = "Tic tac";
}
<h1 style="margin:10px;">
    @Model.Message
</h1>
<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            @for (int j = 0; j < 10; j++)
                {
                <th>
                    <div id="@(string.Format("{0}_{1}",i+1,j+1))" class="cell">
                        @if (Model.GameBoard[i, j] == '1')
                        {
                            <img src="~/Content/free.png" />
                        }
                        else if (Model.GameBoard[i, j] == 'X')
                        {
                            <img src="~/Content/iks.png" />
                        }
                        else
                        {
                            <img src="~/Content/null.jpeg" />
                        }
                    </div>
                </th>
            }
        </tr>
    }
</table>

<style>
    .cell {
        width: 50px;
        height: 50px;
        border: 3px solid black;
        margin: 3px;
    }

    img {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
</style>
<script>
    $(function () {
        $(".cell").click(function () {
            window.location.href = '/TicTac/Turn/' + this.id;

        });
    });
</script>
