@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        This is my laboratory works 5 and 6.
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
</div>