@using WebLabSecondPart.Entityes;
@model List<Game>
@{
    ViewBag.Title = "Stats";
}
<table>
    <tr>
        <th>Id</th>
        <th>Date</th>
    </tr>
    @foreach (Game game in Model)
    {
        <tr>
            <td>@game.Id</td>
            <td>@game.DateStarted.ToString("yyyy/MM/dd HH:mm")</td>
        </tr>
    }

</table>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
